<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ka.store.dao.AdminDao">
    <select id="adminLogin" resultType="com.ka.store.pojo.admin.Admin" parameterType="com.ka.store.pojo.admin.Admin">
        select * from admin where account=#{account} and password=#{password}
    </select>




</mapper>