<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ka.store.dao.CategoryDao">

    <resultMap id="categories" type="com.ka.store.pojo.commodity.Categories">
        <id property="id" column="id"></id>
        <result property="category" column="category"></result>
    </resultMap>

    <select id="selectAllCategories" resultMap="categories">
        select * from commodity_categories
    </select>

</mapper>