<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ka.store.dao.Commodity_categories_booksDao">

    <resultMap id="commodityBook" type="com.ka.store.pojo.commodity.allCategory.Commodity_categories_books">
        <id property="id" column="id"/>
        <result property="commodityID" column="commodity_id"/>
        <result property="book_name" column="book_name"/>
        <result property="publishing" column="publishing"/>
        <result property="book_isbn" column="book_isbn"/>
        <result property="publishing_date" column="publishing_date"/>
        <result property="book_price" column="book_price"/>
        <result property="book_brand" column="book_brand"/>
        <result property="number_of_pages" column="number_of_pages"/>
        <result property="book_type" column="book_type"/>
        <result property="author" column="author"/>
        <association property="commodity" javaType="com.ka.store.pojo.commodity.Commodity">
            <id property="id" column="id"/>
            <result column="commodity_id" property="commodity_id"/>
            <result column="name" property="name"/>
            <result column="merchant_id" property="merchant_id"/>
            <result column="price" property="price"/>
            <result column="category" property="category"/>
            <result column="main_img" property="main_img"/>
            <result column="introduce" property="introduce"/>
            <association property="sales_commodity" javaType="com.ka.store.pojo.sale.Sales_commodity">
                <id column="id" property="id"/>
                <result column="commodity_id" property="commodity_id"/>
                <result column="sales_num" property="sales_num"/>
                <result column="ave_grade" property="ave_grade"/>
            </association>
        </association>

        <collection property="commodity_typeList" ofType="com.ka.store.pojo.commodity.type.CommodityType.Commodity_type" column="commodity_id">
            <id column="ctid" property="ctid"/>
            <result property="commodity_id" column="commodity_id"/>
            <result property="commodity_type" column="commodity_type"/>
        </collection>
    </resultMap>

    <select id="selectCommodityBooksById" resultMap="commodityBook" parameterType="String">
        select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            where book.commodity_id=#{commodityID}
    </select>

    <insert id="insertBook" parameterType="com.ka.store.pojo.commodity.allCategory.Commodity_categories_books">
        insert into commodity_categories_books(commodity_id,book_name,publishing,book_isbn,publishing_date,book_price,book_brand,number_of_pages,author,book_type)
            values (#{commodityID},#{book_name},#{publishing},#{book_isbn},#{publishing_date},#{book_price},#{book_brand},#{number_of_pages},#{author},#{book_type})
    </insert>

    <update id="updateBookCommodity" parameterType="com.ka.store.pojo.commodity.allCategory.Commodity_categories_books">
        update commodity_categories_books
        <set>
            <if test="book_name!=null and book_name!=''">
                book_name=#{book_name}
            </if>
            <if test="publishing!=null and publishing!=''">
                ,publishing=#{publishing}
            </if>
            <if test="book_isbn!=null and book_isbn!=''">
                ,book_isbn=#{book_isbn}
            </if>
            <if test="publishing_date!=null and publishing_date!=''">
                ,publishing_date=#{publishing_date}
            </if>
            <if test="book_price!=null and book_price!=''">
                ,book_price=#{book_price}
            </if>
            <if test="book_brand!=null and book_brand!=''">
                ,book_brand=#{book_brand}
            </if>
            <if test="number_of_pages!=null and number_of_pages!=''">
                ,number_of_pages=#{number_of_pages}
            </if>
            <if test="author!=null and author!=''">
                ,author=#{author}
            </if>
<!--            <if test="book_type!=null and book_type!=''">-->
<!--                ,book_type=#{book_type}-->
<!--            </if>-->
        </set>
        where commodity_id=#{commodityID}
    </update>

    <delete id="deleteBookCommodity" parameterType="String">
        delete from commodity_categories_books where commodity_id=#{commodity_id}
    </delete>

    <select id="selectBookByCategory" parameterType="String" resultMap="commodityBook">
        select * from commodity_categories_books book left join commodity c on book.commodity_id = c.commodity_id where book.book_type=#{book_type}
    </select>

    <select id="selectAllBook" resultMap="commodityBook">
        select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on sc.commodity_id = book.commodity_id

   </select>

    <select id="selectBookGroupAuthor" resultType="String">
        select author from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
                group by author
                order by count(*) desc
    </select>

    <select id="selectBookGroupPublish" resultType="String">
        select publishing from commodity_categories_books  group by publishing  order by count(*) desc
    </select>

    <select id="selectBookLike" resultMap="commodityBook" parameterType="String">
        select * from commodity_categories_books book left join commodity c on book.commodity_id = c.commodity_id
            where book.author=#{key} or book.publishing=#{key} or book.book_type=#{key}
            order by c.id desc
    </select>

    <select id="selectByBookType" parameterType="String" resultMap="commodityBook">
        select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on c.commodity_id=sc.commodity_id
            where ct.commodity_type=#{keyword} or book.author=#{keyword} or book.publishing=#{keyword}
    </select>

    <select id="selectByBookOrderPrice" parameterType="String" resultMap="commodityBook">
         select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on c.commodity_id=sc.commodity_id
            order by c.price desc
    </select>

    <select id="selectByBookOrderPriceUp" parameterType="String" resultMap="commodityBook">
         select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on c.commodity_id=sc.commodity_id
            order by c.price
    </select>

    <select id="selectByBookTypeUp" parameterType="String" resultMap="commodityBook">
        select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on c.commodity_id=sc.commodity_id
            where ct.commodity_type=#{keyword} or book.author=#{keyword} or book.publishing=#{keyword}
            order by c.price
    </select>

    <select id="selectByBookTypeDown" parameterType="String" resultMap="commodityBook">
        select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on c.commodity_id=sc.commodity_id
            where ct.commodity_type=#{keyword} or book.author=#{keyword} or book.publishing=#{keyword}
            order by c.price desc
    </select>

    <select id="selectBookOrderBySaleNumUp" resultMap="commodityBook">
         select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on c.commodity_id=sc.commodity_id
            order by sc.sales_num
    </select>
    <select id="selectBookOrderBySaleNumDown" resultMap="commodityBook">
         select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on c.commodity_id=sc.commodity_id
            order by sc.sales_num desc
    </select>

    <select id="selectBookOrderBySaleNumDownAndKeyword" resultMap="commodityBook" parameterType="String">
           select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on c.commodity_id=sc.commodity_id
             where ct.commodity_type=#{keyword} or book.author=#{keyword} or book.publishing=#{keyword}
            order by sc.sales_num desc
    </select>
    <select id="selectBookOrderBySaleNumUpAndKeyword" resultMap="commodityBook" parameterType="String">
           select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on c.commodity_id=sc.commodity_id
             where ct.commodity_type=#{keyword} or book.author=#{keyword} or book.publishing=#{keyword}
            order by sc.sales_num
    </select>

    <select id="selectBookOrderByScoreDown" resultMap="commodityBook">
             select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on c.commodity_id=sc.commodity_id
            order by sc.ave_grade+0 desc
    </select>
    <select id="selectBookOrderByScoreUp" resultMap="commodityBook">
             select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on c.commodity_id=sc.commodity_id
            order by sc.ave_grade+0
    </select>
    <select id="selectBookOrderByScoreDownByKeyword" resultMap="commodityBook" parameterType="String">
             select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on c.commodity_id=sc.commodity_id
            where ct.commodity_type=#{keyword} or book.author=#{keyword} or book.publishing=#{keyword}
            order by sc.ave_grade+0
    </select>
    <select id="selectBookOrderByScoreUpByKeyword" resultMap="commodityBook" parameterType="String">
             select * from commodity_categories_books book
            left join commodity c on book.commodity_id = c.commodity_id
            left join commodity_type ct on book.commodity_id = ct.commodity_id
            left join sales_commodity sc on c.commodity_id=sc.commodity_id
            where ct.commodity_type=#{keyword} or book.author=#{keyword} or book.publishing=#{keyword}
            order by sc.ave_grade+0 desc
    </select>

</mapper>