<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ka.store.dao.OrderDao">

    <resultMap id="orderMap" type="com.ka.store.pojo.order.Order_table">
        <id column="id" property="id"/>
        <result column="order_id" property="order_id"/>
        <result column="user_id" property="user_id"/>
        <result column="commodity_id" property="commodity_id"/>
        <result column="logistics_id" property="logistics_id"/>
        <result column="user_address_id" property="user_address_id"/>
        <result column="num" property="num"/>
        <result column="status" property="status"/>
        <association property="commodity" javaType="com.ka.store.pojo.commodity.Commodity">
            <id property="id" column="id"/>
            <result column="commodity_id" property="commodity_id"/>
            <result column="name" property="name"/>
            <result column="merchant_id" property="merchant_id"/>
            <result column="price" property="price"/>
            <result column="category" property="category"/>
            <result column="main_img" property="main_img"/>
            <result column="introduce" property="introduce"/>
        </association>
        <association property="user" javaType="com.ka.store.pojo.user.User_info">
            <id property="id" column="id"/>
            <result column="user_id" property="user_id"/>
            <result column="phone" property="phone"/>
            <result column="email" property="email"/>
            <result column="birthday" property="birthday"/>
            <result column="sex" property="sex"/>
            <result column="img" property="img"/>
            <result column="user_name" property="user_name"/>
        </association>
        <association property="logistics" javaType="com.ka.store.pojo.logistics.Logistics">
            <id column="id" property="id"/>
            <result property="logistics_id" column="logistics_id"/>
            <result property="logistics_company" column="logistics_company"/>
            <result property="logistics_status" column="logistics_status"/>
            <result property="logistics_date" column="logistics_date"/>
            <result property="dispatch" column="dispatch"/>
            <result property="receive" column="receive"/>
            <result property="receive_people" column="receive_people"/>
            <result property="dispatch_people" column="dispatch_people"/>
        </association>
        <association property="user_address" javaType="com.ka.store.pojo.user.User_address">
            <id property="id" column="id"/>
            <result column="user_id" property="user_id"/>
            <result column="address" property="address"/>
            <result column="user_name" property="user_name"/>
            <result column="tag" property="tag"/>
            <result column="phone" property="phone"/>
            <result column="user_address_id" property="user_address_id"/>
        </association>
    </resultMap>

    <select id="selectAllOrder" resultMap="orderMap">
        select * from order_table o
            left join commodity c on o.commodity_id=c.commodity_id
            left join user_info u on o.user_id=u.user_id
            left join logistics l on o.logistics_id=l.logistics_id
            left join user_address a on o.user_address_id=a.user_address_id
            order by o.id desc
    </select>


    <insert id="insertOrderTable" parameterType="com.ka.store.pojo.order.Order_table">
        insert into order_table(order_id,user_id,commodity_id,logistics_id,num,user_address_id,status)
            values (#{order_id},#{user_id},#{commodity_id},#{logistics_id},#{num},#{user_address_id},#{status})
    </insert>

    <update id="updateScoreStatus" parameterType="com.ka.store.pojo.order.Order_table">
        update order_table set status=#{status} where order_id=#{order_id} and commodity_id=#{commodity_id}
    </update>


</mapper>